h1 {
    font-family: 'Open Sans';
    font-size: 44px !important;
    font-weight: bold;
}
body {
    background-color: rgb(197, 227, 231);
}

h2 {
    font-family: 'Open Sans';
    font-size: 20px !important;
    overflow-wrap: break-word;
}

h3 {
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: bold;

    background-color: rgb(8, 208, 230);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

h4 {
    font-family: 'Open Sans';
    font-size: 15px !important;
}

h5 {
    font-family: 'Open Sans';
    font-size: 11px !important;
    font-weight: bold;
    text-transform: uppercase;
}

p, li {
    font-family: 'Open Sans';
    font-size: 13px !important;
}


ul{
    margin-left: 18px;
  }

.bold-text {
    font-family: 'Open Sans';
    font-size: 11px !important;
    font-weight: bold;
}


.contact-info {
    font-family: 'Open Sans';
    font-size: 12px;

    overflow-wrap: break-word;
    word-break: break-word;

    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(227, 19, 19);
    border-width: 1px;

    padding: 1% 0;
    border: 3px;

}

.bullet-small {
    font-size: 12px;
    font-weight: 400;
}

.footer {
    text-align: center;
}

.work-company-row {
    margin-bottom: 10px;
}

.work-date-col {
    border-right-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
}

.view-counter {
    text-align: center;
    font-size: 15px !important;
    font-style: italic;
    color:rgb(3, 75, 80);
    background-color: rgb(255, 212, 212);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-bottom: 0px;
}
